.full-contact {
    height: 60vh;
}

.button-all a:hover i {
    color: #F58212;
    transition: 0.4s;
}

.contact-way h3 {
    margin: 0;
}

.contact-way p {
    user-select: text;
}

@media screen and (max-width:768px) {
    .full-contact {
        height: 100%;
        text-align: center;
    }

    .contact-way {
        margin-top: 40px;
    }

    .contact-para {
        text-align: justify;
    }

    .button-all a:hover {
        color: white;
        transition: 0.4s;
        background-color: #F58212;
    }

    .button-all a:hover i {
        color: #fff;
        transition: 0.4s;
    }
}