* {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    user-select: none;
    /* scroll-behavior: smooth; */
}

.full-background {
    background-color: rgb(5, 5, 29);
}

.text {
    color: #fc8f22;
}