.navLogo {
    height: 60px;
    width: 70px;
}

.nav-text {
    font-size: 15px;
}

.nav-text li a {
    color: #fff;
    transition: 0.4s;
}

.nav-text li a:hover {
    color: #fc8f22;
}

a.nav-link.resume {
    border: 2px solid #fc8f22;
    border-radius: 5px;
    padding: 6px 15px;
}

a.nav-link.resume:hover {
    background-color: #fc8f22;
    color: #fff;
}